<section fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div fxFlex>
          <p>Server Error</p>
          <p>Opps! Something is wrong</p>
        </div>
        <div fxFlex>
                <mat-checkbox (change)="checkChanged($event)" color="primary">I want to report this error.</mat-checkbox>
              </div>
              <div fxFlex *ngIf="reportedError"><br>
                  <br>
                  <h1>{{errorPercentage}}%</h1>
            
              </div>
      </section>
