.example-container {
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  width: 100%;
  font-size: 10pt;
  text-align: center;
}

th {
  background-color: blueviolet;
}

h4{
  color: red;
  text-align: center;
}

p{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: Georgia, serif;
}

.buttonContainer{
  width: 100%;
  text-align: center;
  display: block;
}
mat-form-field {
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
  font-size: 12pt;  
  text-align: center; 
}
